---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
classes:
  - research-page
---

{% include base_path %}

{% assign publications = site.publications | sort: "date" | reverse %}

<div class="research-list">
  {% for post in publications %}
    {% assign publication_url = post.link | default: post.url %}
    <article class="research-item">
      <a class="research-link" href="{{ publication_url }}">
        <span class="research-arrow" aria-hidden="true">&#8599;</span>
        <span class="research-content">
          <span class="research-title">{{ post.title }}</span>
          <span class="research-meta">
            {{ post.authors }}, <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
          </span>
        </span>
      </a>
    </article>
  {% endfor %}
</div>
